In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [6]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [7]:
loan_status_encoded = pd.get_dummies(df, drop_first=True)
loan_status_encoded.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,issue_d_Jan-2019,issue_d_Mar-2019,loan_status_low_risk,initial_list_status_w,next_pymnt_d_May-2019,application_type_Joint App
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,0,1,1,0,0,1,1,1,1,0
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,0,0,0,1,0,1,1,1,1,0
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,0,0,0,1,0,1,1,1,1,0
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,0,1,0,1,0,1,1,1,1,0
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,0,0,0,0,0,1,1,1,1,0

In [8]:
# Create our features
X = loan_status_encoded.drop('loan_status_low_risk', axis=1).copy()


# Create our target
y = loan_status_encoded["loan_status_low_risk"].copy()

In [9]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,home_ownership_MORTGAGE,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified,issue_d_Jan-2019,issue_d_Mar-2019,initial_list_status_w,next_pymnt_d_May-2019,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.526309,0.106747,0.357659,0.373992,0.148001,0.451066,0.177238,0.876121,0.616839,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.499311,0.308793,0.479314,0.483865,0.355104,0.497603,0.381873,0.329446,0.486161,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
y.rename("loan_status", inplace=True)

0        1
1        1
2        1
3        1
4        1
        ..
68812    1
68813    1
68814    1
68815    1
68816    1
Name: loan_status, Length: 68817, dtype: uint8

In [12]:
# Check the balance of our target values
loan_status_encoded["loan_status_low_risk"].value_counts()

1    68470
0      347
Name: loan_status_low_risk, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# YOUR CODE HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
y_test.shape

(17205,)

In [16]:
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
# Resample the training data with the BalancedRandomForestClassifier
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [26]:
predictions = rf_model.predict(X_test_scaled)

In [28]:
from sklearn.metrics import confusion_matrix
y_pred = rf_model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[    0,   101],
       [    0, 17104]])

In [29]:
# Display the confusion matrix
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0           38           63
Actual 1            5        17099

In [33]:
# Calculated the balanced accuracy score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
acc_score = accuracy_score(y_test, predictions)

In [34]:
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.9960476605637896

In [35]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.00      0.00      1.00      0.00      0.00      0.00       101
          1       0.99      1.00      0.00      1.00      0.00      0.00     17104

avg / total       0.99      0.99      0.01      0.99      0.00      0.00     17205

In [36]:
# List the features sorted in descending order by feature importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.07783367587506444, 'total_rec_int'),
 (0.06446593343679356, 'last_pymnt_amnt'),
 (0.06445270938976407, 'total_pymnt_inv'),
 (0.06264627234096032, 'total_rec_prncp'),
 (0.061441876949681826, 'total_pymnt'),
 (0.023803606016200036, 'installment'),
 (0.021752134700576888, 'out_prncp_inv'),
 (0.019321620558090218, 'out_prncp'),
 (0.017793852048703977, 'dti'),
 (0.01746655419030751, 'loan_amnt'),
 (0.016862544338073854, 'bc_open_to_buy'),
 (0.016501922800003153, 'max_bal_bc'),
 (0.015197248081709644, 'total_bal_ex_mort'),
 (0.015134875980674941, 'mo_sin_old_il_acct'),
 (0.01448690976398261, 'mo_sin_old_rev_tl_op'),
 (0.014308505088627882, 'revol_bal'),
 (0.014083898982112347, 'avg_cur_bal'),
 (0.01386039340749788, 'tot_hi_cred_lim'),
 (0.013563869053176948, 'tot_cur_bal'),
 (0.013367170488183241, 'bc_util'),
 (0.013335686282688603, 'total_bal_il'),
 (0.012905174703726154, 'total_il_high_credit_limit'),
 (0.012578093309118406, 'total_rev_hi_lim'),
 (0.012296632493045832, 'annual_inc'),
 (0.012036425626325878, 'total_rec_late_fee'),
 (0.011955994029747079, 'all_util'),
 (0.01191448382575455, 'issue_d_Mar-2019'),
 (0.011906246645573633, 'total_bc_limit'),
 (0.011870702230847546, 'mths_since_recent_bc'),
 (0.011815974762552917, 'int_rate'),
 (0.011694098740994585, 'mths_since_rcnt_il'),
 (0.011479470684040248, 'total_acc'),
 (0.011085001815418204, 'il_util'),
 (0.010878587738061071, 'num_il_tl'),
 (0.009837707425843967, 'mths_since_recent_inq'),
 (0.009683267877904373, 'acc_open_past_24mths'),
 (0.00966603085468863, 'mo_sin_rcnt_rev_tl_op'),
 (0.009507933189035981, 'inq_last_12m'),
 (0.009417004416141172, 'pct_tl_nvr_dlq'),
 (0.009347874657347271, 'open_acc'),
 (0.009159564074218442, 'num_rev_accts'),
 (0.008772836173785882, 'num_bc_sats'),
 (0.008679606289943256, 'total_cu_tl'),
 (0.008435998838698342, 'num_bc_tl'),
 (0.008299445794907831, 'num_actv_rev_tl'),
 (0.007977941542786924, 'mo_sin_rcnt_tl'),
 (0.0079263467306973, 'num_op_rev_tl'),
 (0.007764499437664363, 'open_rv_24m'),
 (0.007709691450739887, 'num_actv_bc_tl'),
 (0.007621156866678434, 'num_rev_tl_bal_gt_0'),
 (0.007427636744655796, 'num_sats'),
 (0.007033411053639669, 'percent_bc_gt_75'),
 (0.006993913324696533, 'open_il_24m'),
 (0.006991433981618996, 'num_tl_op_past_12m'),
 (0.006962224689133971, 'mort_acc'),
 (0.00680470928747421, 'open_acc_6m'),
 (0.006384707993751147, 'next_pymnt_d_May-2019'),
 (0.006245863933292721, 'inq_fi'),
 (0.005165345983573479, 'issue_d_Jan-2019'),
 (0.0050182231848904, 'open_act_il'),
 (0.00496400264919971, 'inq_last_6mths'),
 (0.004930733716504505, 'open_rv_12m'),
 (0.004738649755203099, 'open_il_12m'),
 (0.004377309860980937, 'tot_coll_amt'),
 (0.003944844132357989, 'delinq_2yrs'),
 (0.0034815574494743637, 'num_accts_ever_120_pd'),
 (0.00283379289391786, 'pub_rec'),
 (0.0027592891726760205, 'verification_status_Source Verified'),
 (0.0027552320085037912, 'application_type_Joint App'),
 (0.0023491395830709675, 'verification_status_Verified'),
 (0.002241955990591424, 'pub_rec_bankruptcies'),
 (0.0018154728242532508, 'home_ownership_MORTGAGE'),
 (0.0017539219105025873, 'home_ownership_RENT'),
 (0.0017281895380891843, 'home_ownership_OWN'),
 (0.0016656305023217976, 'collections_12_mths_ex_med'),
 (0.0011905229686279808, 'num_tl_90g_dpd_24m'),
 (0.0011809004004401792, 'initial_list_status_w'),
 (0.0003563324673956548, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'delinq_amnt'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [41]:
# Train the EasyEnsembleClassifier
from sklearn.ensemble import GradientBoostingClassifier
classifier = GradientBoostingClassifier(n_estimators=100,
   learning_rate=0.5, max_features=5, max_depth=3, random_state=1)

classifier.fit(X_train_scaled, y_train)
predictions = classifier.predict(X_test_scaled)

In [42]:
# Calculated the balanced accuracy score
acc_score = accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.992153443766347

In [43]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
   cm, index=["Actual 0", "Actual 1"],
   columns=["Predicted 0", "Predicted 1"]
)
display(cm_df)

          Predicted 0  Predicted 1
Actual 0            6           95
Actual 1           40        17064

In [44]:
# Print the imbalanced classification report
print("Classification Report")
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           0       0.13      0.06      0.08       101
           1       0.99      1.00      1.00     17104

    accuracy                           0.99     17205
   macro avg       0.56      0.53      0.54     17205
weighted avg       0.99      0.99      0.99     17205